@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Grenze";
		src: url("/fonts/Grenze/woff2/Grenze-Light.woff2") format('woff2'),
			url('/fonts/Grenze/woff/Grenze-Light.woff') format('woff');
		font-display: swap;
		font-weight: 300;
	}

	@font-face {
		font-family: "Grenze";
		src: url("/fonts/Grenze/woff2/Grenze-Regular.woff2") format('woff2'),
			url('/fonts/Grenze/woff/Grenze-Regular.woff') format('woff');
		font-display: swap;
		font-weight: 400;
	}

	@font-face {
		font-family: "Grenze Gotisch";
		src: url('/fonts/Grenze-Gotisch/ttf/GrenzeGotisch-Regular.ttf') format('truetype'), url('/fonts/Grenze-Gotisch/woff2/GrenzeGotisch-Regular.woff2') format('woff2'),
			url('/fonts/Grenze-Gotisch/woff/GrenzeGotisch-Regular.woff') format('woff');
		font-display: swap;
		font-weight: 400;
	}

	@font-face {
		font-family: "Grenze Gotisch";
		src: url('/fonts/Grenze-Gotisch/ttf/GrenzeGotisch-Medium.ttf') format('truetype'), url('/fonts/Grenze-Gotisch/woff2/GrenzeGotisch-Medium.woff2') format('woff2'),
			url('/fonts/Grenze-Gotisch/woff/GrenzeGotisch-Medium.woff') format('woff');
		font-display: swap;
		font-weight: 500;
	}

	@font-face {
		font-family: "Grenze Gotisch";
		src: url('/fonts/Grenze-Gotisch/woff2/GrenzeGotisch-Bold.woff2') format('woff2'),
			url('/fonts/Grenze-Gotisch/woff/GrenzeGotisch-Bold.woff') format('woff');
		font-display: swap;
		font-weight: 700;
	}

	body {
		margin-top: env(safe-area-inset-top);
		margin-bottom: env(safe-area-inset-bottom);

		@apply max-w-full touch-none select-none overflow-hidden min-h-screen;
	}
}